@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/Mission.List.js"></script>
<div id="mission-form">
    <h1>Add Mission</h1>
    <div style="margin-bottom:60px;">
        <div>Mission Name:</div>
        <div><input type="text" id="mission-name" /></div>
        <div><button id="mission-create-btn">Add Mission!</button></div>
    </div>
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="mission-list" style="margin-bottom:60px;"></div>
