@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/ForumPost.js"></script>
<input type="hidden" id="online-user-box" value="@Model.OnlineUser" />
<div id="post-form">
    <h1>Add New Post</h1>
    <div style="margin-bottom:60px;">
        <div style="margin-bottom:20px;"><input type="text" id="post-content" /></div>
        <div style="margin-bottom:20px;"><button class="btns" id="post-create-btn">Share!</button></div>
    </div>
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="post-list" style="margin-bottom:60px;"></div>
