@model OperationViewModel
<script type="text/javascript" src="~/js/Pages/HomeMissionDetail.js"></script>
<div id="operation-form">
    <h1>Operations</h1>
    <input type="hidden" id="missionid-box" value="@Model.MissionId" />
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="operation-list" style="margin-bottom:60px;"></div>
