@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/Home.Index.js"></script>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="mission-list" style="margin-bottom:60px;"></div>
