@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/User.List.js"></script>
<input type="hidden" id="online-user-box" value="@Model.OnlineUser" />
<h1>USERS</h1>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="user-list" style="margin-bottom:60px;"></div>
