@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/User.Login.js"></script>
<div id="user-login-form">
    <h1>User Login</h1>
    <div style="margin-bottom:60px;">
        <div>Username:</div>
        <div><input type="text" id="user-login-username" /></div>
        <div>Password:</div>
        <div><input type="text" id="user-login-password" /></div>
        <div style="margin-top:20px;"><button class="btns" id="user-login-btn">Login!</button></div>
    </div>
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
