@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/MyProfile.js"></script>
<h1>User Profile</h1>
<div id="user-list" style="margin-bottom:20px;"></div>
<br />
<div id="user-profile-form">
    <div><h3>Update User</h3></div>
    <div>Username:</div>
    <div><input type="text" id="user-update-username" /></div>
    <div>Email:</div>
    <div><input type="text" id="user-update-email" /></div>
    <div>Password:</div>
    <div><input type="password" id="user-update-password" /></div>
    <div>Birth Year:</div>
    <div><input type="text" id="user-update-birthyear" /></div>
    <div><button style="margin-bottom:15px; margin-top:15px;" class="btns" id="user-update-btn">Update User</button></div>
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
