@model BaseViewModel
<script type="text/javascript" src="~/js/Pages/NewsFeed.js"></script>
<h1>My Target Missions</h1>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="mission-list" style="margin-bottom:60px;"></div>
