@model BaseViewModel
<!-- [AT]Html.AntiForgeryToken() -->
<script type="text/javascript" src="~/js/Pages/User.Register.js"></script>
<h1>Index</h1>
<div style="margin-bottom:60px;">
    <div><h3>Add New User</h3></div>
    <div>Username:</div>
    <div><input type="text" id="user-create-username" /></div>
    <div>Email:</div>
    <div><input type="text" id="user-create-email" /></div>
    <div>Password:</div>
    <div><input type="password" id="user-create-password" /></div>
    <div>Birth Year:</div>
    <div><input type="text" id="user-create-birthyear" /></div>
    <div><button id="user-create-btn">Add User</button></div>
</div>
<div id="error" style="margin-bottom:60px;display:none;"></div>
<div id="user-list" style="margin-bottom:60px;"></div>
